input {
    padding: .7em;
    display: block;
    margin: 0 auto;
    /*border: 1px solid #ccc;*/
    text-align: center;
    align-items: center;
    width: 50%;
  }

  
  button{
    margin-top: 10px;
    margin-left: 48%; margin-right: 30%;
    padding: .7em;
  } 

  h1{
      text-align: center;
  }